*.pyc
*~
*#
.#*
*egg-info
*.so
*.pyd
*.bak
*.c
*.new
*.md5
*.old
doc/source/api
doc/build
source/api
build
dist
skimage/version.py
*.swp
.coverage
doc/source/auto_examples/**/*
doc/source/_static/random.js
.idea/
*.log
doc/release/_release_notes_for_docs.txt
doc/gh-pages
wheels
skimage/morphology/_skeletonize_3d_cy.pyx
/.vs/scikit-image/v15/.suo
/.vs/scikit-image/v15/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/scikit-image/v15/Browse.VC.opendb
/.vs/VSWorkspaceState.json
